<div class="slider-main">
    <button class=" btn icons prev"><i class="fa-solid fa-circle-chevron-left"></i></button>
    <div class="slider-container-main mb-3">
        <div class="slider-container row row-cols-lg-3">
            <div class="slider-content mt-2">
                <div class="slider-item"><i class="fa-solid fa-fire"></i>
                    <p>Trending</p>
                </div>
                <div class="slider-item"><i class="fa-solid fa-mountain"></i>
                    <p>Mountains</p>
                </div>
                <div class="slider-item"><i class="fa-solid fa-bed"></i>
                    <p>Rooms</p>
                </div>
                <div class="slider-item"><i class="fa-solid fa-tents"></i>
                    <p>Tents</p>
                </div>
                <div class="slider-item"><i class="fa-solid fa-hotel"></i>
                    <p>Hotel</p>
                </div>

                <div class="slider-item"><i class="fa-solid fa-fire"></i>
                    <p>Trending</p>
                </div>
                <div class="slider-item"><i class="fa-solid fa-mountain"></i>
                    <p>Mountains</p>
                </div>
                <div class="slider-item"><i class="fa-solid fa-bed"></i>
                    <p>Rooms</p>
                </div>
                <div class="slider-item"><i class="fa-solid fa-tents"></i>
                    <p>Tents</p>
                </div>
                <div class="slider-item"><i class="fa-solid fa-hotel"></i>
                    <p>Hotel</p>
                </div>
                <div class="slider-item"><i class="fa-solid fa-sailboat"></i></i>
                    <p>Boats</p>
                </div>
                <div class="slider-item"><i class="fa-solid fa-person-swimming"></i>
                    <p>Pools</p>
                </div>
                <div class="slider-item"><i class="fa-regular fa-chess-rook"></i>
                    <p>Castel</p>
                </div>
                <div class="slider-item"><i class="fa-solid fa-tower-observation"></i>
                    <p>Tower</p>
                </div>
                <div class="slider-item"><i class="fa-solid fa-snowflake"></i>
                    <p>Arctic</p>
                </div>
                <div class="slider-item"><i class="fa-solid fa-van-shuttle"></i>
                    <p>Van</p>
                </div>

            </div>
        </div>

    </div>
    <button class="btn icons next"><i class="fa-solid fa-circle-chevron-right"></i></button>


    <div class="slide-btn ms-auto mb-4">
        <div class="form-check-reverse form-switch">
            <label class="form-check-label" for="flexSwitchCheckDefault"><b>Display total before taxes</b></label>

            <input class="form-check-input slide-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        </div>
    </div>

</div>