<% let filters=[ {icon: 'fa-solid fa-fire' , text: 'Trending' }, {icon: 'fa-solid fa-bed' , text: 'Rooms' },
    {icon: 'fa-solid fa-mountain-city' , text: 'Iconic Cities' }, {icon: 'fa-solid fa-mountain' , text: 'Mountains' },
    {icon: 'fa-solid fa-person-skiing' , text: 'Artic' }, {icon: 'fa-brands fa-fort-awesome' , text: 'Castles' },
    {icon: 'fa-solid fa-umbrella-beach' , text: 'Beaches' }, {icon: 'fa-solid fa-campground' , text: 'Camping' },
    {icon: 'fa-solid fa-tractor' , text: 'Farms' } ]; %>

    <div id="filters-filter " class="d-flex flex-wrap justify-content-between align-items-center p-main
        
        ">

        <div id="filters " class="d-flex flex-wrap  p-slider-item ">
            <% filters.map(filter=> { %>
                <a class="filter" href="/listings/cate/<%= filter.text.toLowerCase() %>">
                    <div class="d-flex justify-content-center"><i class="<%= filter.icon %>"></i></div>
                    <p>
                        <%= filter.text %>
                    </p>
                </a>
                <% }) %>
        </div>



        <div class="form-check form-switch form-check-reverse">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckReverse">
            <label class="form-check-label" for="flexSwitchCheckReverse">Display the total with taxes</label>
        </div>
    </div>